<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<title>Ajout 2 la organization la</title>
</head>
<body>

<div class="ui container">
<form class="ui form" method="post" action="createOrga">
  <div class="field">
    <label>Name</label>
    <input name="name" placeholder="Name" type="text">
  </div>
  <div class="field">
    <label>Domain</label>
    <input name="domain" placeholder="Domain" type="text">
  </div>
  <div class="field">
  	<label>Alliases</label>
    <input name="aliases" placeholder="Alliases" type="text">
  </div>
  <div>
      <label>Ville</label>
    <input name="ville" placeholder="Ville" type="text">
  </div>
  
  <button class="ui button" type="submit">Envoyer</button>
</form>
</div>






</body>
</html>